@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.button-active:active{
    transform: scale(1.1);
}

.sun {
    background-image: url("/assets/img/sun.png");
    background-size: cover;
    background-position: center;
}

.moon {
    background-image: url("/assets/img/moon.png");
    background-size: cover;
    background-position: center;
}